@keyframes alert {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
        z-index: -99;
    }

    66% {
        transform: translateX(100%);
        z-index: -99;
    }

    67% {
        z-index: -2;
    }

    100% {
        transform: translateX(0);
        z-index: -2;
    }
}