// COLORS
$color-1: #DDDAD0;
$color-2: #ADA99D;
$color-3: #847E6B;
$color-4: #49432D;
$color-5: #090701;

$color-white: #fff;
$color-black: #000;
$color-grey: rgb(99, 99, 99);

// FONTS
// $default-font-size: 1.6rem;
$font-primary: 'arial';
// $font-2: 'Aleo', serif;
// $font-3: 'Bungee Shade', cursive;

// MEDIA QUERIES
$min-width-tablet: 768px;
$min-width-desktop: 1025px;

// LAYOUT TOOLS
$default-padding: 1rem 10%;